*{
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-wrap: wrap;
}
.box{
  
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 9px;
  margin: 15px;
}
.App{
  display: flex;
}